*{margin:0;padding:0;box-sizing: border-box;}
.container {
    width: 600px;
    height: 500px;
    margin: 50px auto;
    box-shadow: 0 0 6px #ddd;
    position: relative;
}
.rounds {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 38px;
    background-color: tomato;
    color: white;
    top: -50px;
    left: -50px;
}
.dices {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 38px;
    background-color: gainsboro;
    color: white;
    top: -50px;
    right: -50px;
}
#dice {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.player1,.player2 {
width: 300px;
height: 500px;
float: left;
background-color: gray;
border-right: 8px solid cadetblue;
border-left: 8px solid cadetblue;
}
header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-size: 30px;
}
main {
    height: 400px;
    text-align: center;
    line-height: 400px;
    font-size: 200px;
   color: red;
}
footer {
    height: 50px;
    background-color: cadetblue;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: white;
}
